body {
  background: url("../img/pokedex.jpg") no-repeat center center fixed;
  /*Hay que meterle ../ para que vaya atras en el arbol de directorios. Esta en css/ */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input {
  width: 80%;
  height: 40px;
  border-radius: 3px;
}

button {
  height: 40px;
  width: 120px;
  border-radius: 5px;
}

header {
  margin: 60px 0;
}

h2 {
  text-transform: capitalize;
}

.white-background {
  width: 60%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.content {
  opacity: 1;
  color: #333;
}

.poke-image{
  width: 120px;
  height: 120px;
}
